include /atoms/arrow/index
include /atoms/anchor/index

mixin pagination(pagination)
  nav(class="m-pagination", role="navigation")&attributes(attributes)
    - const iterators = [...Array(pagination.total).keys()];
    ul(class="m-pagination__container")
      li(class="m-pagination__item --first")
        +anchor(href=`${pagination.baseLink}/`)
          +arrow("double-left")
      li(class="m-pagination__item --prev")
        +arrow("left")
      li(class="m-pagination__navigator")
        label(for="pagination")
        select(id="pagination")
          each index in iterators
            - const value = `${pagination.baseLink}${index === 0 ? '' : index + 1}`;
            option(value=value) #{index + 1}
        | #{` of ${pagination.total}`}
      li(class="m-pagination__item --next")
        +arrow("right")
      li(class="m-pagination__item --last")
        +anchor(href=`${pagination.baseLink}/${iterators[iterators.length - 1] + 1}`)
          +arrow("double-right")