include /atoms/arrow/index
include /atoms/anchor/index

mixin pagination(pagination)
  nav(class="m-pagination", role="navigation")&attributes(attributes)
    - const iterators = [...Array(pagination.total).keys()];
    ul(class="m-pagination__container")
      li(class="m-pagination__item --first")
        +arrow("double-left")
      li(class="m-pagination__item --prev")
        +arrow("left")
      li(class="m-pagination__navigator", data-total=pagination.total, data-baseLink=pagination.baseLink)
        label(for="pagination")
        select(id="pagination", aria-label="pagination")
          each index in iterators
            - const pageNumber = `${pagination.baseLink}/${index === 0 ? '' : `${index + 1}/`}`;
            option(value=`${pageNumber}`) #{index + 1}
        | #{` of ${pagination.total}`}
      li(class="m-pagination__item --next")
        +arrow("right")
      li(class="m-pagination__item --last")
        +arrow("double-right")