include /molecules/menu/index
include /molecules/masthead/index
include /molecules/card/index
include /molecules/pagination/index
include /molecules/skeleton/card/index

mixin posts
  main(class="o-posts", role="main")
    +masthead()
    +menu(articles.tags)
    section(class="o-posts__skeletonCards")
      - const iteration = Array.from(new Array(9));
      each item in iteration
        +skeleton-card()

    section(class="o-posts__cards")
      - const currentTag = articles.tags.find(tag => tag.name === list.tagName);
      - const description = currentTag.description;
      - const tagWording = currentTag.wording; 
      p(class="o-posts__description", data-tag=`${list.tagName}`, style=`${list.tagName === 'all' ? 'display: none;' : ''}`)
        if (list.tagName !== 'all')
          span(class=`icon-${list.tagName}`)
          strong !{tagWording + ': '} 
          span(data-description=`${description}`) !{description}
        else
          span(class="icon-all")
          strong All
          span(data-description=`${site.description}`) All
      if list && list.pageData
        each item in list.pageData
          +card(item, list.tagName, list.pageNumber)
    +pagination(list.pagination)