mixin card(item, tagName)
  section(class="m-card")
    - const querySearch = `${tagName === 'all' ? '' : `?tag=${tagName}`}`;
    a(href=`/articles/${item.slug}/${querySearch}`) 
      div(class="m-card__header")
        h2 !{item.title}
        time(datetime=`${item.date}`) !{'— ' + item.formattedDate || item.date}
      p !{item.excerpt}
      div(class="m-card__tagList")
        if item && item.labels
          each tag in item.labels
            span(class=`icon-${tag}`)
