mixin head
  head
    title #{title || site.title}
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content=`${description || site.description}`)
    link(rel="icon", href="/assets/images/cropped-miayam-32x32.png", sizes="32x32")
    link(rel="icon", href="/assets/images/cropped-miayam-192x192.png", sizes="192x192")
    link(rel="canonical", href=`${site.url}${url || ''}`)

    //- PWA stuff
    link(rel="manifest", href="/manifest.webmanifest")
    link(rel="apple-touch-icon", href="/assets/images/cropped-miayam-192x192.png")
    meta(name="theme-color", content="#fff")

    //- Open graph related
    meta(property="og:title", content=`${title || site.title}`)
    meta(property="og:type", content=`${type || site.type}`)
    meta(property="og:url", content=`${site.url}${url || ''}`)
    meta(property="og:image", content=`${image || site.image}`)
    meta(property="og:site_name", content=`${name || site.name}`)
    meta(property="og:description", content=`${description || site.description}`)

    //- Free analytics
    script#ZwSg9rf6GA(data-host='https://microanalytics.io' data-dnt='false' src='https://microanalytics.io/js/script.js' async='' defer='')




