---
layout: "blog/index.pug"
pagination:
  data: articles.list
  size: 1
  alias: article
permalink: | 
  | articles/#{ article.slug }/index.html
eleventyComputed:
  title: |
    | #{article.title}
---
div(class="m-article__header")
  h1 !{article.title}
  time(datetime=`${article.date}`) !{article.formattedDate || article.date}
div(class="m-article__content") !{article.content}