---
layout: "home/index.pug"
pagination:
  data: articles.home
  size: 1
  alias: list
permalink: |
  | #{list.pageNumber ? `/${list.pageNumber + 1}/` : '/'}
eleventyComputed:
  title: |
    | Miayam #{list.pageNumber ? `page ${list.pageNumber + 1}` : ''} | #{"The excitement of not knowing"}
---