---
layout: "home/index.pug"
pagination:
  data: articles.tagMap
  size: 1
  alias: list
permalink: |
  | tags/#{list.tagName}#{list.pageNumber ? `/${list.pageNumber + 1}/` : '/'}
eleventyComputed:
  title: |
    | #{list.tagWording} | #{"The excitement of not knowing"}
  description: |
    | #{list.description}
---